/* sopra i 768 px  */

@media screen and (min-width: 768px){

    /* Il logo nell'header si allinea a sinistra */
    header  {
        text-align: left;
        padding-left: 2rem;
    }

    /* Il padding del contenuto principale della pagina aumenta */

    .container {
        max-width: 87vw;
        padding: 2rem 0;
    }

    .container-text {
        max-width: 90%;
    }

    /* anche il video si allinea alle nuove dimensioni */

    .video iframe {
        max-width: 87vw;
        
    }

    /* Compare il testo "(Dolce Tradizionale)" */

    .titolo span {
       display: inline;
    }

    /* La grandezza del titolo diventa più grande e il resto diminuisce */

    .titolo h2, .titolo span {
        font-size: 2.1rem;
    }

    .recipe-info-star-rate {
        font-size: 1rem;
        gap: 10px;
    }

    /* più padding della card */

    .recipe-card {
        padding: 3rem 0;
    }

    .recipe-card-list {
        padding: 3rem 0 0 0;
    }

    /* Le informazioni della ricetta sotto il video si dispongono a griglia */

    .recipe-card-list ul {
        display: flex;
        flex-wrap: wrap;
    }

    .recipe-card-list li {
        flex-basis: calc(100% / 3);
    }

    /* I bottoni social si allargano */
    .social-icons-container {
        gap: 30px;
        justify-content: space-around;
    }
    
    .social-icons {
        flex-basis: 20%;
    }

    /* compare il banner pubblicitario */

    .banner-container {
        display: block;
    }

    /* l'immagine nella descrizione della ricetta viene circondata dal testo
    già fatto da mobile */

    /* .article-img {
        float: left;
        max-width: 40%;
        margin: 1rem 2rem 0 0;
    } */

    
}

/* sopra i 992 px  */

@media screen and (min-width: 992px){

    /* si allargano i container */

    .container {
        max-width: 70vw;
        padding: 2rem 0;
    }

    .container-text {
        max-width: 85%;
    }

    /* La grandezza el titolo della ricetta  aumenta ancora di più */

    .titolo h2, .titolo span {
        font-size: 2.5rem;
    }

    

    /* Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro */
    .recipe {
        display: flex;
        padding: 2rem 0;
    }

    .recipe-card {
        flex-basis: 20%;
        flex-grow: 1;
        border-radius: 5px;
    }

     /* anche il video si allinea alle nuove dimensioni */

     .video {
        margin-top: 0;
    }

     .video iframe {
        flex-grow: 1;
        height: 100%;
        width: 40vw;
        
    }

    /* Le informazioni della ricetta tornano a disporsi una sotto l'altra */

    .recipe-card-list ul {
        flex-direction: column;
    }

    /* Compaiono i nomi delle piattaforme social */

    .social-icons p {
        display: inline;
        
    }

    .social-icons-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .social-icons {
        flex-basis: 15%;
    }

    

    /* NEl footer i dati del sito e il menu di navigazione di dispongono sulla stessa linea ma su lati opposti */
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }

    .footer-info {
        padding-left: 2rem;
    }

    footer p {
        padding-top: 1rem;
    }



}