:root {
    --yellow: #ff9614;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f5f3;
    font-family: 'Montserrat', sans-serif;
}

/* generics */

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* utils */ 

.container-text {
    max-width: 85%;
    margin: 0 auto;
}

.container {
    max-width: 92vw;
    margin: 0 auto;
    padding: 2rem 0;
}

/* header */

header {
    text-transform: uppercase;
    font-family: 'Nerko One', cursive;
    color: var(--yellow);
    text-shadow: 2px 2px 2px #707070;
    font-size: 1.7rem;
    text-align: center;
    height: 90px;
    background-color: white;
    line-height: 90px;
}

/* main */



main h3 {
    text-transform: uppercase;
    color: gray;
    letter-spacing: 3px;
    font-weight: 400;
}

/* video container */

.recipe-container {
    margin-top: 1rem;
}

.titolo {
    display: flex;
    gap: 5px;
}

.titolo h2 {
    color: #4e3969;
    font-size: 2rem;
}

.recipe-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titolo span {
    color: #4e3969;
    font-size: 2rem;
    font-weight: bold;
    display: none;
}

.recipe-info-star-rate {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    align-items: center;
}

.recipe-stars i {
    color: var(--yellow);
}

.recipe-stars span:nth-of-type(1) {
    font-weight: bold;
}

.recipe-rate {
    background-color: var(--yellow);
    padding: 10px 20px;
    border-radius: 35px;
    color: white;
    font-weight: bold;
}

/* recipe */

.video {
    margin-top: 1rem;
}

.video iframe {
    max-width: 92vw;
    margin: 0 auto;
}

/* recipe card */

.recipe-card {
    background-color: white;
    padding: 2rem 0;
    box-shadow: 0px 5px 10px rgb(192, 192, 192);
    border-radius: 0 0 5px 5px;
}

.recipe-card-info {
    background-color: #f6f5f9;
    border-radius: 5px;
}

.recipe-card-info-calories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
}

.recipe-card-info-calories span:nth-of-type(1) {
    color: white;
    background-color: #7b69a2;
    font-size: 0.9rem;
    padding: 3px 6px;
    border-radius: 5px;
    

}

.recipe-card-info-calories span:nth-of-type(2) {
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.2rem;
}

.recipe-card-info hr {
    margin: 0 1.2rem;
}

.recipe-card-info p {
    padding: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
}

/* recipe list */

.recipe-card-list {
    padding: 2rem 0;
    font-size: 1.1rem;
}

.recipe-card-list i {
    color: var(--yellow);
    margin-right: 5px;
    
}

.recipe-card-list li {
    padding: .5rem 0;
}

/* fine recipe*/


/* social icons */

.social-icons-container {
    display: flex;
    margin: 2rem 0;
    justify-content: space-around;
}

.social-icons {
    background-color: white;
    box-shadow: 0px 5px 10px rgb(192, 192, 192);
    padding: 15px 20px;
    border-radius: 35px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons p {
    display: none;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 10px;
}

/* colori icone social */

#facebook {
    color: #1a77f3;
}
#twitter {
    color: #009eff;
}
#istagram {
    color: #de6391;
}
#pinterest {
    color: #e62d34;
}
#youtube {
    color: #e62222;
}

/* fine social icons */

/* banner pubblicitario */

.banner-container {
    display: none;
    margin: 2.5rem 0;
}

#banner {
    max-width: 100%;
}

/* fine banner pubblicitario */


/* article */

article h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.3rem;
}

#orange-line {
    height: 4px;
    background-color: var(--yellow);
    width: 19%;
    margin: 1rem 0;
}

.article-img {
    margin: 2rem auto 1rem auto;
    text-align: center;
    max-width: 80%;
}

article img {
    max-width: 100%;
}

article p {
    line-height: 2.6rem;
    font-size: 1.3rem;
    padding-bottom: 2rem;
}


/* fine article */

/* footer */

footer {
    background-color: #7c69a4;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

footer p {
    font-weight: bold;
}

address {
    margin: 1rem 0;
    font-style: normal;
}

.footer-nav {
    padding:  .5rem 3rem;
}

.footer-nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-nav a {
    color: white;
}

/* fine footer */